# Node
node_modules/

# Environment variables
.env

# SQLite database
db/*.db
db/*.db-journal

# Prisma
prisma/dev.db

# Electron / Vite builds
dist/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/